@font-face {
  font-family: "Manrope";
  src: url("@/styles/fonts/Manrope-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Manrope";
  src: url("@/styles/fonts/Manrope-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Manrope";
  src: url("@/styles/fonts/Manrope-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Manrope";
  src: url("@/styles/fonts/Manrope-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Manrope";
  src: url("@/styles/fonts/Manrope-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Manrope";
  src: url("@/styles/fonts/Manrope-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Mulish";
  src: url("@/styles/fonts/Mulish-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Mulish";
  src: url("@/styles/fonts/Mulish-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Mulish";
  src: url("@/styles/fonts/Mulish-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Mulish";
  src: url("@/styles/fonts/Mulish-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: "Mulish";
  src: url("@/styles/fonts/Mulish-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Mulish";
  src: url("@/styles/fonts/Mulish-ExtraBold.ttf");
  font-weight: 800;
}
