@import "variables";

@mixin mainText {
  font-family: 'Mulish', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: -0.015em;
  color: $colorText;
  @media (max-width: 641px) {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: $colorText;
  }
}

@mixin mainTextBold {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */

  letter-spacing: 0.005em;

  /* Text */

  color: $colorText;

  @media (max-width: 641px) {
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.015em;
    color: #8FA0B7;
  }
}

@mixin h4 {
  font-family: 'Manrope', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 100%;
  /* identical to box height, or 28px */

  letter-spacing: 0.005em;

  /* Text */
  color: $colorText;
  @media (max-width: 641px) {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 100%;
    /* identical to box height, or 20px */

    letter-spacing: 0.005em;

    /* Text */

    color: $colorText;
  }
}
